 * {
margin: 0;
padding: 0;
}
        
.background-image {
background-image: url("https://images.hdqwalls.com/wallpapers/fibonacci-sequence-night-dark-dunes-5k-sf.jpg");
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
background-size: cover;
height: 100vh;
width: 100%;
}